.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
}

.content {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  padding: 28px;
  overflow-y: auto;
  box-sizing: border-box;
}